<strong>
  Olá {{aluno}}
</strong>
<p>
  Obrigado por escolher treinar com a nossa equipe! Abaixo você pode vizualizar detalhes de sua matricula.
</p>
<p>
  Você escolheu nosso plano <strong>{{plano}}.</strong> <br />
  O valor total de seu plano é de <strong>{{preco}}R$</strong> e terminará <strong>{{data}}</strong>
</p>